@import url('https://fonts.googleapis.com/css?family=Oswald|Roboto:400,700');

.container-liniadetiempo {
	max-width: 1024px;
	width: 90%;
	margin-top: 3em;
	margin-bottom: 2em;
	margin-left: 10%;
}
.container-liniadetiempo h4{
	font-family: 'Oswald', sans-serif;
	font-size: 1.7rem;
}

$border-color: rgba(black, .3);

.timeline-item {
	padding: 1em 2em 1em;
	position: relative;
	color: black;
	border-left: 2px solid $border-color;
	padding-top: 0em;

	&::after {
		width: 10px;
		height: 10px;
		display: block;
		top: 1em;
		position: absolute;
		left: -8px;
		border-radius: 10px;
		content: '';
		border: 2px solid $border-color;
		background: white;
	}
	
	&:last-child {
		border-image: linear-gradient(
			to bottom,
			$border-color 60%,
			rgba($border-color, 0)) 1 100%
		;
	}
}
.ultimo-readMore{
	border-image: linear-gradient(
		to bottom,
		$border-color 60%,
		rgba($border-color, 0)) 1 100%
	;
}
#readmore-button{
	margin-left: 9em;
}